@import "settings.scss";
@import "functions.scss";

// ==========================================================================
// ARTICLE
// ==========================================================================

.services {
	clear: both;
}

ul.service-list {
	margin: 0 0 0 rem(-20px);
	padding: 0;
	list-style: none;
	
	li {
		display: inline-block; // hmmmmm...
		width: 225px;
		margin-left: 20px;
		overflow: hidden;

		div img {
			width: 300px;
		}

		h3 {
			margin-top: 0;
		}
	}
}
