@import "settings.scss";
@import "functions.scss";

body {
	font-family: Arial, sans-serif;
	font-size: $base-font-size;
	line-height: 1.5;
}

p {
	margin: 0 0 1.5em 0;
}

.lead {
	font-size: 1.2em;
	line-height: 1.2;
}